body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
}

.goal, .penalty {
  padding: 10px;
  border-bottom: 1px solid #ccc;

  div {
    margin-bottom: 5px;

    input, select {
      margin-right: 5px;
    }
  }
}