extends ./layout.jade

block content
  .roster
    paper-item.data-table.header
      .name
        .num #
        div Name
      .data.item-4
        div G
        div A
        div Pt
        div PIM
    paper-item.data-table
      .name
        .num 44
        div Thomson, Matt
      .data.item-4
        div 12
        div 9
        div 21
        div 0
    paper-item.data-table
      .name
        .num 44
        div Thomson, Matt
      .data.item-4
        div 12
        div 9
        div 21
        div 0
    paper-item.data-table
      .name
        .num 44
        div Thomson, Matt
      .data.item-4
        div 12
        div 9
        div 21
        div 0
